# Backend
DATABASE_URLpostgresql://postgres:gEQVjlteQqniJBsXeDaYRmmWpnfxpUBw@postgres.railway.internal:5432/railway
POLYGON_API_KEY=S8JmUg9UaZ4E07BqQcYrfNiNXBmsogwz
ALPHA_VANTAGE_API_KEY=QEYLD6YNS7Y99WST
FRED_API_KEY=b93f0796f878f107fe53f693e74c223d
THETADATA_USERNAME=nl.nicklasky@gmail.com
THETADATA_PASSWORD=Y@nkees21

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
